@import '../abstracts/variables';
@import '../abstracts/mixins';

.carousel-fix {
  @include attrBox(100%, 900px);
  background: radial-gradient(#505464, $background-color-hp);
  border-top: 1px solid $border-color-icon-header;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .carousel-indicators {
    right: 0;
    left: 66%;
    bottom: 20%;
    display: flex;

    li {
      @include attrBox(10px, 10px);
      border-radius: 50%;
    }
  }

  .carousel-inner {
    height: inherit;

    .carousel-item {
      height: inherit;

      img {
        @include positionAbsoluteTL(38%, 30%);
        @include attrBox(36%, 36%);
        z-index: 2;
      }

      .title-bg {
        width: 9rem;
        @include attrFontColor(9rem, $white-smoke);
        @include center(30%, 33%);
        z-index: 1;
      }

      .carousel-caption {
        h3 {
          display: none;
        }

        p {
          display: none;
        }
      }
    }
  }

  .carousel-control-fix-prev {
    left: 5%;
    top: 50%;
    @include attrBox(40px, 40px);
    border: 1px solid;
    border-radius: 50%;
    transition: all 0.2s;
  }

  .carousel-control-fix-next {
    right: 5%;
    top: 50%;
    @include attrBox(40px, 40px);
    border: 1px solid;
    border-radius: 50%;
    transition: all 0.2s;
  }
}

#btn-fix {
  position: absolute;
  bottom: 34%;
  left: 14%;

  border-radius: 23px;
  padding: 0.8rem 2.4rem;

  box-shadow: 0px 0px 20px #31333d;

  font-weight: 500;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 0 15px rgba($color: #fff, $alpha: 0.5);
    @include attrColor($white-smoke, $text-color-main);
  }
}

.title {
  @include attrFontColor(0.8rem, $white-smoke);
  @include positionAbsoluteTL(20%, 14%);
  span {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .title-bg {
    font-size: 9rem;
    top: 35%;
  }

  .title {
    font-size: 1rem;
    top: 15%;

    span {
      font-size: 2rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .carousel-fix {
    @include attrBox(100%, 900px);
    .carousel-inner {
      .carousel-item {
        img {
          left: 30%;
          top: 34%;
          @include attrBox(44%, 30%);
        }
        .title-bg {
          font-size: 5rem;
          top: 34%;
          left: 30%;
        }
      }
    }
  }

  #btn-fix {
    bottom: 32%;
  }

  .title {
    font-size: 0.4rem;
    top: 15%;

    span {
      font-size: 1rem;
    }
  }
}

@media (min-width: 319px) and (max-width: 767px) {
  .carousel-fix {
    @include attrBox(100%, 900px);

    .carousel-indicators {
      display: none;
    }

    .carousel-inner {
      height: inherit;

      .carousel-item {
        height: inherit;
        img {
          @include attrBox(50%, 20%);
          top: 55%;
          left: 25%;
        }

        .title-bg {
          font-size: 3rem;
          top: 30%;
          left: 20%;
        }
      }
    }
  }

  #btn-fix {
    display: none;
  }

  .title {
    font-size: 0.4rem;
    top: 20%;

    span {
      font-size: 1rem;
    }
  }
}
