@import '../abstracts/mixins';
@import '../abstracts/variables';

.form-login {
  @include positionFixed;
  @include flexCenter;
  @include attrBox(100vw, 100vh);

  background: radial-gradient($cyan, $white-smoke);
  background-color: $white-smoke;
  z-index: 200;

  flex-direction: column;

  .form-login__wrap {
    @include bgColorFtBorderRadius($white-smoke, 10px);
    padding: 2rem;
    width: 40%;
    h1 {
      text-align: center;
      color: $cyan;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .form-group {
        label {
          @include attrFont(1rem, 500);
        }

        .error-message {
          font-size: 0.8rem;
        }
      }

      .login__create {
        @include attrFontColor(1rem, $primary-color);
        margin-top: 1rem;

        &:hover {
          cursor: pointer;
          color: blue;
          transition: all 0.2s;
        }
      }

      button {
        width: 50%;
        margin: 1rem auto;
        padding: 0.8rem 2rem;
        border-radius: 30px;
        transition: all 0.3s;
        font-weight: 500;
        box-shadow: 0 0 15px $cyan;
        @include attrColor($white-smoke, $cyan);
        border: none;

        &:hover {
          @include attrColor($cyan, $white-smoke);
          box-shadow: 0 0 15px $text-color-sub;
        }

        &:active {
          background-color: $cyan !important;
        }
      }

      a {
        @include attrFontColor(1rem, $primary-color);

        &:hover {
          text-decoration: none;
          color: blue;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-login {
    .form-login__wrap {
      width: 80%;
    }
  }
}

@media (min-width: 319px) and (max-width: 767px) {
  .form-login {
    .form-login__wrap {
      width: 80%;
    }
  }
}
